<a href="https://colab.research.google.com/github/anvy87/AlgoTrading/blob/master/analysingRatiosScraped.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from bs4 import BeautifulSoup
import urllib.request as ur

In [0]:
company = 'TATAMOTORS.NS'
url_is = 'https://finance.yahoo.com/quote/' + company + '/financials?p=' + company
# url_bs = 'https://finance.yahoo.com/quote/' + company + '/balance-sheet?p=' + company
url_cf = 'https://finance.yahoo.com/quote/' + company + '/cash-flow?p=' + company

In [0]:
is_data = ur.urlopen(url_is).read()
soup_is = BeautifulSoup(is_data, 'lxml')

In [0]:
# bs_data = ur.urlopen(url_bs).read()
# soup_bs = BeautifulSoup(bs_data, 'lxml')

In [0]:
cf_data = ur.urlopen(url_cf).read()
soup_cf = BeautifulSoup(cf_data, 'lxml')

In [0]:
ls_is = []
for l in soup_is.find_all('div'):
  ls_is.append(l.string)
ls_is = [e for e in ls_is if e not in('Operating Expenses', 'Non-recurring Events')]

In [0]:
# ls_bs = []
#for l in soup_bs.find_all('div'):
 # ls_bs.append(l.string)
# ls_bs = [e for e in ls_bs if e not in('Operating Expenses', 'Non-recurring Events')]

In [0]:
ls_cf = []
for l in soup_cf.find_all('div'):
  ls_cf.append(l.string)
ls_cf = [e for e in ls_cf if e not in('Operating Expenses', 'Non-recurring Events')]

In [0]:
new_ls_is = list(filter(None,ls_is))
# new_ls_bs = list(filter(None,ls_bs))
new_ls_cf = list(filter(None,ls_cf))

In [0]:
new_ls_is = new_ls_is[12:]
# new_ls_bs = new_ls_bs[12:]
new_ls_cf = new_ls_cf[12:]

In [0]:
is_data = list(zip(*[iter(new_ls_is)]*6))
# bs_data = list(zip(*[iter(new_ls_bs)]*6))
cf_data = list(zip(*[iter(new_ls_cf)]*6))

In [0]:
Income_st = pd.DataFrame(is_data[0:])
# BalS_st = pd.DataFrame(bs_data)
CF_st = pd.DataFrame(cf_data[0:])

In [0]:
Income_st.columns = Income_st.iloc[0]
Income_st = Income_st.iloc[1:,]
Income_st = Income_st.T
Income_st.columns = Income_st.iloc[0]
Income_st.drop(Income_st.index[0],inplace=True)
Income_st.index.name = ''
Income_st.rename(index={'ttm':'12/31/2019'},inplace=True)
Income_st = Income_st[Income_st.columns[:-5]]

In [0]:
#BalS_st.columns = BalS_st.iloc[0]
#BalS_st = BalS_st.iloc[1:,]
#BalS_st = BalS_st.T
#BalS_st.columns = BalS_st.iloc[0]
#BalS_st.drop(BalS_st.index[0],inplace=True)
#BalS_st.index.name = ''
#BalS_st.rename(index={'ttm':'12/31/2019'},inplace=True)
#BalS_st = BalS_st[BalS_st.columns[:-5]]

In [0]:
CF_st.columns = CF_st.iloc[0]
CF_st = CF_st.iloc[1:,]
CF_st = CF_st.T
CF_st.columns = CF_st.iloc[0]
CF_st.drop(CF_st.index[0],inplace=True)
CF_st.index.name = ''
CF_st.rename(index={'ttm':'12/31/2019'},inplace=True)
CF_st = CF_st[CF_st.columns[:-5]]

In [0]:
Income_st

Annual      Total Revenue  ... Net Income available to common shareholders
                           ...
12/31/2019     32,901,173  ...                                  -3,428,211
3/31/2019   2,993,662,400  ...                                -293,142,700
3/31/2018   2,882,951,100  ...                                  66,660,800
3/31/2017   2,656,495,100  ...                                  61,210,500
3/31/2016   2,697,422,000  ...                                  95,883,400

[5 rows x 14 columns]

In [0]:
CF_st

Annual        Net Income  ... Net change in cash
                          ...
12/31/2019    -3,428,211  ...          1,489,284
3/31/2019   -293,142,700  ...         80,100,300
3/31/2018     66,660,800  ...         -3,324,800
3/31/2017     61,210,500  ...        -17,567,300
3/31/2016     95,883,400  ...        -33,717,000

[5 rows x 24 columns]

In [0]:
def convert_to_int(df):
  col = df.columns
  for col in df:
    temp = df[col].to_string().replace(',','').split('\n')
    temp.pop(0)
    df.index = pd.to_datetime(df.index)
    df[col] = [i[10:].strip() for i in temp]
    df[col] = pd.to_numeric(df[col], errors = 'coerce').fillna(0).astype(int)
    return df

In [0]:
ratio = pd.DataFrame()

In [0]:
ratio['effective tax rate'] = Income_st['Income Tax Expense']/Income_st['Income Before Tax']

In [0]:
ratio['net operating margin'] = (Income_st['Income Before Tax']+Income_st['Interest Expense']*(1-ratio['effective tax rate']))/Income_st['Total Revenue']

In [0]:
ratio['net operating asset turnover'] = Income_st['Total Revenue']/((balance_st['Total liabilities and stockholders\' equity']+balance_st['Total liabilities and stockholders\' equity'].shift(1))/2)

In [0]:
ratio['Return on NOA'] = ratio['net operating margin']*ratio['net operating asset turnover']

In [0]:
ratio['Net financial expense'] = Income_st['Interest Expense']*(1-ratio['effective tax rate'])
ratio['Net borrowing cost'] = ratio['Net financial expense']/(balance_st['Total Liabilities']+balance_st['Total Liabilities'].shift(1)/2)
ratio['spread'] = ratio['Return on NOA'] - ratio['Net borrowing cost']

In [0]:
ratio['leverage'] = (balance_st['Total Liabilities']+balance_st['Total Liabilities'].shift(-1)/2)/(balance_st['Total liabilities and stockholders\' equity']+balance_st['Total liabilities and stockholders\' equity'].shift(1))/2

In [0]:
ratio['ROE(Advanced dupont)'] = ratio['Return on NOA'] + ratio['leverage']* ratio['spread']
ratio