<a href="https://colab.research.google.com/github/anvy87/AlgoTrading/blob/master/yF!3stock_portfolio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas_datareader as web
import pandas as pd
import numpy as np

In [0]:
sbinQuote = web.DataReader('SBIN.NS', data_source='yahoo', start='2010-01-01', end='2019-12-31' )

In [3]:
print(sbinQuote)

                  High         Low  ...      Volume   Adj Close
Date                                ...
2010-01-04  230.000000  227.500000  ...  11031470.0   95.066895
2010-01-05  231.000000  228.009995  ...  11613740.0   95.102180
2010-01-06  231.500000  228.500000  ...  14527930.0   95.672699
2010-01-07  231.000000  228.110001  ...   8576510.0   95.137444
2010-01-08  230.389999  228.009995  ...  10453820.0   94.853218
...                ...         ...  ...         ...         ...
2019-12-26  333.450012  328.100006  ...  24616942.0  329.850006
2019-12-27  338.350006  333.000000  ...  33477173.0  337.250000
2019-12-30  337.850006  332.500000  ...  22775554.0  334.399994
2019-12-31  336.350006  332.549988  ...  23801635.0  333.750000
2020-01-01  335.950012  332.149994  ...  17379320.0  334.450012

[2462 rows x 6 columns]

In [0]:
stocks = ['INDIANB.NS', 'KOTAKBANK.NS', 'SBIN.NS']

In [0]:
numAssets  =len(stocks)

In [0]:
source = 'yahoo'

In [0]:
start = '2010-01-01'

In [0]:
end = '2019-12-31'

In [0]:
data = pd.DataFrame(columns=stocks)

In [0]:
for symbol in stocks:
  data[symbol] = web.DataReader(symbol, data_source=source, start=start, end=end)['Adj Close']

In [11]:
list(data)
data['INDIANB.NS']

Date
2010-01-04    132.754883
2010-01-05    132.716980
2010-01-06    136.315186
2010-01-07    135.027420
2010-01-08    132.716980
                 ...
2019-12-26    104.199997
2019-12-27    104.900002
2019-12-30    104.599998
2019-12-31    100.949997
2020-01-01    101.349998
Name: INDIANB.NS, Length: 2462, dtype: float64

In [0]:
# calculating log returns
percent_change = data.pct_change()
returns = np.log(1+percent_change)

In [13]:
returns.head()

            INDIANB.NS  KOTAKBANK.NS   SBIN.NS
Date
2010-01-04         NaN           NaN       NaN
2010-01-05   -0.000286      0.009853  0.000371
2010-01-06    0.026751      0.012085  0.005981
2010-01-07   -0.009492      0.011170 -0.005610
2010-01-08   -0.017259     -0.006194 -0.002992

In [0]:
meanDailyReturns = returns.mean()
covMatrix = returns.cov()

In [15]:
meanDailyReturns

INDIANB.NS     -0.000110
KOTAKBANK.NS    0.000858
SBIN.NS         0.000511
dtype: float64

In [16]:
covMatrix

              INDIANB.NS  KOTAKBANK.NS   SBIN.NS
INDIANB.NS      0.000760      0.000126  0.000300
KOTAKBANK.NS    0.000126      0.000283  0.000134
SBIN.NS         0.000300      0.000134  0.000474

In [0]:
# calculating expected portfolio performance
weights = np.array([0.4, 0.3, 0.3])
portReturn = np.sum(meanDailyReturns*weights)
portStdDev = np.sqrt(np.dot(weights.T, np.dot(covMatrix, weights)))

In [19]:
portReturn

0.0003670012693645792

In [20]:
portReturn*365

0.1339554633180714

In [21]:
portReturn*250

0.09175031734114479

In [22]:
portStdDev

0.017773140428514696

In [23]:
portStdDev*portStdDev*365

0.1152978500524718

In [24]:
portStdDev*portStdDev*250

0.0789711301729259